.blog,
.search {
	&.woocommerce {
		h1 {
			margin-bottom: 18px !important;
		}
		h2 {
			display: none;
			&.woocommerce-loop-product__title {
				display: block;
			}
		}
	}
	h2 {
		display: block;
		padding: 18px;
		background-color: #e3f8ff;
		border-radius: 8px 8px 0px 0px;
		font-size: 23px;
		transition: all .3s linear;
	}
	p {
		font-size: 16px;
	}
	h2, p {
		margin: 0;
		text-transform: none;
	}
	.details {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #f6fcff;
		padding: 36px;
		border-radius: 0px 0px 8px 8px;
		transition: all .3s linear;
		p {
			max-width: 65%;
		}
		.button-ghost {
			margin-top: auto;
			flex-shrink: 0;
		}
		@media(max-width: $phablet) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			p {
				max-width: 100%;
			}
			.button-ghost {
				margin-top: 24px;
			}
		}
	}
	article {
		margin-bottom: 24px;
		&:hover {
			h2 {
				background-color: #e3fae5;
			}
			.details {
				background-color: #f9f9f9;
			}
		}
	}
	.page-numbers {
		display: flex;
		align-items: center;
		justify-content: center;
		li {
			margin: 6px;
			font-size: 23px;
		}
	}
}