.nav-dropdown {
	
	#nav-toggle {
		span {
			transition: background 0ms;
			transition-delay: 400ms;
			&:after {
				transition: bottom 400ms, transform 400ms;
				transition-delay: 400ms, 0ms;
			}
			&:before {
				transition: top 400ms, transform 400ms;
				transition-delay: 400ms, 0ms;
			}
		}
	}

	&.nav-open {
		#nav-toggle {
			span {
				background: transparent;
				transition-delay: 400ms;
				&:after {
					bottom: 0;
					transform: rotate(-45deg);
					transition-delay: 0ms, 400ms;
				}
				&:before {
					top: 0;
					transform: rotate(45deg);
					transition-delay: 0ms, 400ms;
				}
			}
		}
	}
}

#dropdown-nav-primary {
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: max-height 500ms;
	width: 100%;
	left: 0;
	background-color: #f8f8f8;
	box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
	.quote-count {
		&:after {
			position: initial;
			margin-left: 4px;
		}
	}
	.nav-open & {
		overflow: auto;
		max-height: 100vh;
	}
	.menu {
		> li {
			position: relative;
			border-bottom: 1px solid rgba(95,92,90,0.15);
			color: $body-color;
			&.tel,
			&.quote {
				display: inline-block;
				background-color: $link-color;
				width: 50%;
				text-align: center;
				i {
					margin-right: 6px;
				}
				a {
					color: white;
				}
			}
			a {
				display: block;
				padding: 20px;
				position: relative;
				color: $body-color;
			}
			&.menu-item-has-children {
				position: relative;
				.next-level-button {
					width: 42px;
					height: 64px;
					position: absolute;
					right: 0;
					top: 0;
					background-color: $link-color;
					padding: 22px 0px;
					text-align: center;
					i {
						transition: all .2s linear;
						transform: rotate(-90deg);
						color: white;
					}
					&.rotate {
						i {
							transform: rotate(0deg);
						}
					}
				}
				&:before {
					content: '';
					background: $link-color;
					cursor: pointer;
					display: block;
					top: 0;
					right: 0;
					bottom: 0;
					width: 40px;
					z-index: 2;
					position: absolute;
					height: 64px;
					display: none;
				}
				&:after {
					border-left: 6px solid transparent;
					border-right: 6px solid transparent;
					border-top: 6px solid white;
					content: '';
					display: block;
					height: 0;
					position: absolute;
					right: 14px;
					top: 26px;
					width: 0;
					z-index: 3;
					transition: transform 300ms;
					display: none;
				}
			}

			.sub-menu {
				height: auto;
				max-height: 0;
				overflow: hidden;
				transition: max-height 400ms;
				li {
					background-color: white;
					border-bottom: 1px solid rgba(95,92,90,0.15);
					position: relative;
					&:last-of-type {
						border: 0px;
					}
					a {
						padding-left: 32px;
						font-size: 16px;
					}
					.sub-menu {
						padding: 0px 24px;
						background-color: white;
						border-top: 0px;
						li {
							padding: 12px 0px;
							margin-left: 24px;
							font-weight: $font-weight-base;
							border-bottom: 0px;
							a {
								padding: 0px 0px 0px 12px;
								text-transform: initial;
								font-size: 16px;
								font-weight: $font-weight-base;
								&:before {
									content: "";
									width: 32px;
									height: 32px;
									display: block;
									background-image: url('orgo-orange.svg');
									background-size: cover;
									position: absolute;
									left: -32px;
									top: 50%;
									transform: translateY(-50%) perspective(2000px);
									opacity: .5;
									transition: all .3s ease-in-out;
								}
							}
							&:hover {
								a {
									&:before {
										opacity: 1;
										transform: translateY(-50%) rotate(25deg) scale(1.05);
									}
								}
							}
							&:first-of-type {
								padding-top: 24px;
							}
							&:last-of-type {
								padding-bottom: 24px;
							}
							&:nth-child(2n) {
								a {
									&:before {
										background-image: url('orgo-green.svg');
									}
								}
							}
							&:nth-child(3n) {
								a {
									&:before {
										background-image: url('orgo-red.svg');
									}
								}
							}
							&:nth-child(4n) {
								a {
									&:before {
										background-image: url('orgo-purple.svg');
									}
								}
							}
						}
					}
				}
			}

			&.menu-item-open {
				.sub-menu {
					max-height: 200vh;
					.sub-menu {
						max-height: 0;
					}
					.menu-item-open {
						.sub-menu {
							max-height: 200vh;
						}
					}
				}
				> a:after {

				}
			}
		}
	}
}