@keyframes fillbee {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes bee-flutter-left{
	0%{
		transform:rotate(0deg);
	}
	20%{
		transform:rotate(20deg);
	}
	40%{
		transform:rotate(0deg);
	}
	60%{
		transform:rotate(15deg);
	}
	100%{
		transform:rotate(0deg);
	}
}
@keyframes bee-flutter-right{
	0%{
		transform:rotate(0deg);
	}
	20%{
		transform:rotate(-20deg);
	}
	40%{
		transform:rotate(0deg);
	}
	60%{
		transform:rotate(-15deg);
	}
	100%{
		transform:rotate(0deg);
	}
}

@keyframes bee-fly{
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}

@keyframes makespace-color-wave{
	0%{
		fill: $makespace-brand-fill;
	}
	16.7%{
		fill: $makespace-purple;
	}
	33.3%{
		fill: $makespace-green;
	}
	50%{
		fill: $makespace-red;
	}
	66.7%{
		fill: $makespace-blue;
	}
	83.3%{
		fill: $makespace-orange;
	}
	100%{
		fill: $makespace-brand-fill;
	}
}
.makespace-brown {
	fill: $makespace-brown;
}
.makespace-blue {
	fill: $makespace-blue;
}
.makespace-green {
	fill: $makespace-green;
}
.makespace-orange {
	fill: $makespace-orange;
}
.makespace-red {
	fill: $makespace-red;
}
.makespace-purple {
	fill: $makespace-purple;
}


#makespace-bee,
#makespace-name {
	display: inline-block;
	font-size: 0;
	position: relative;
	
	&:before{
		content: '';
		display: block;
	}

	svg {
		bottom: 0;
		height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
	}
}

#makespace-bee {
	width: 2.5rem;
	
	& + #makespace-name{
		margin-left: 0.3rem;
	}
	
	.makespace-bee-group{
		display: block;
		height: 0;
		width: 100%;
		padding-top: 78.737864077669903%;
		position: relative;
	}
	
	.makespace-bee-body{
		display: block;
		height: 100%;
		margin: auto;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 41.44%;
	}
	
	.makespace-bee-wing{
		display: block;
		height: 56.17%;
		position: absolute;
		top: 24.15%;
		width: 32.78%;
		transform:rotate(0deg);
		
		&.wing-left{
			left: 0;
			transform-origin: 100% 0%;
		}
		&.wing-right{
			right: 0;
			transform-origin: 0% 0%;
		}	
	}
	
	.wing-fill{
		fill: $makespace-wing-fill;
	}

	.makespace-bee-body-outline,
	.wing-outline,
	.wing-outline{
		fill:$makespace-bee-fill;
	}
	
	.makespace-bee-head,
	.makespace-bee-body-1,
	.makespace-bee-body-2,
	.makespace-bee-body-3,
	.makespace-bee-body-4,
	.wing-fill{
		opacity: 0;
	}
	
	&.bee-color{
		
		&:hover,
		&:focus,
		&:active {
			.makespace-bee-head,
			.makespace-bee-body-1,
			.makespace-bee-body-2,
			.makespace-bee-body-3,
			.makespace-bee-body-4,
			.wing-fill{
				animation: fillbee 300ms forwards;
			}
			.makespace-bee-body-3 {
				animation-delay: 100ms;
			}
			.makespace-bee-body-2 {
				animation-delay: 200ms;
			}
			.makespace-bee-body-1 {
				animation-delay: 300ms;
			}
			.makespace-bee-head {
				animation-delay: 400ms;
			}
			.wing-fill{
				animation-delay: 500ms;
			}
		}
	}

	&.bee-flutter{

		&:hover,
		&:focus,
		&:active {
			.makespace-bee-wing{

				&.wing-left{
					animation: bee-flutter-left 0.4s linear;
				}
				&.wing-right{
					animation: bee-flutter-right 0.4s linear;
				}
			}
		}
		
		&.bee-color{

			&:hover,
			&:focus,
			&:active {
				.makespace-bee-wing{

					&.wing-left{
						animation-delay: 600ms;
					}
					&.wing-right{
						animation-delay: 600ms;
					}
				}
			}
		}
		
	}

	&.bee-fly{

		.makespace-bee-group{
			transform-origin: 270% 0%;
			transform:rotate(0deg);
		}

		&:hover,
		&:focus,
		&:active {

			.makespace-bee-group{
				animation: bee-fly 2s ease-in-out;
			}

			.makespace-bee-wing{

				&.wing-left{
					animation: bee-flutter-left 0.4s infinite;
					animation-iteration-count: 5;
				}
				&.wing-right{
					animation: bee-flutter-right 0.4s infinite;
					animation-iteration-count: 5;
				}	
			}
		}
		
		&.bee-color{

			&:hover,
			&:focus,
			&:active {

				.makespace-bee-group{
					animation-delay: 600ms;
				}

				.makespace-bee-wing{

					&.wing-left{
						animation-delay: 600ms;
					}
					&.wing-right{
						animation-delay: 600ms;
					}	
				}
			}
		}
	}
}

#makespace-name {
	width: 7.5rem;
	
	&::before {
		padding-top: 18.028385116992712%;
	}

	path {
		fill: $makespace-brand-fill;
		transition: fill 300ms linear;
	}

	&.name-color-wave{
		
		&:hover,
		&:focus,
		&:active {
			path {
				animation: makespace-color-wave 1s linear;

				&:nth-child(1){
					animation-delay: 0s;
				}
				&:nth-child(2){
					animation-delay: 0.1s;
				}
				&:nth-child(3){
					animation-delay: 0.2s;
				}
				&:nth-child(4){
					animation-delay: 0.3s;
				}
				&:nth-child(5){
					animation-delay: 0.4s;
				}
				&:nth-child(6){
					animation-delay: 0.5s;
				}
				&:nth-child(7){
					animation-delay: 0.6s;
				}
				&:nth-child(8){
					animation-delay: 0.7s;
				}
				&:nth-child(9){
					animation-delay: 0.8s;
				}
				&:nth-child(10){
					animation-delay: 0.9s;
				}
				&:nth-child(11){
					animation-delay: 1s;
				}
			}
		}
	}
}